/* GENERAL */

:root {
  /* VARIABLES */
  --nebula-blue: #6288a5; 
  --galaxy-blue: #326891;
  --pretty-white: #fff;
  --shady-grey: #e8e8e8;
  --black-hole: #000;
  --stormy-grey: #e7e7e7;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 100px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* HEADER */

header.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: pink;
}

/* Nav styles */

nav.nav-top {
  height: 40px;
  border: 1px solid var(--shady-grey);
}

.nav-top a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--black-hole);
}

.nav-links {
  margin: 0 10px;
}

nav.nav-top > * {
  width: 33.333%;
  background: var(--pretty-white);
  height: 100%;
  padding: 10px;
}

div.logo-center {
  text-align: center;
}

div.logo-center img {
  width: 60%;
  margin-top: -5px;
}

/* Button styles */

button.btn-auth {
  background-color: var(--nebula-blue);
  border: 1px solid var(--galaxy-blue);
  color: white;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 0.75rem;
}

div.right-top button {
  margin-top: -6px;
  margin-right: 8px;
}

/* Main Article Styles */

.infograph {
  width: 945px;
  height: 576px;
  background-image: url("./assets/main-article_1.png");
  background-size: cover;
}

div.infograph div.second-line div.infograph-div {
  margin-top: 130px;
}

.infograph-div {
  width: 25%;  
  margin-top: 150px;
  padding: 10px;
}

.infograph-div p {
  margin: 0;
  font-size: .8rem;
}

.infograph-div p span {
  font-weight: 600;
  font-size: 0.65rem;
  margin-right: 5px;
}

/* FOOTER */

footer.footer-main {
  padding: 20px 5px;
  border-top: 3.5px double var(--stormy-grey);
  width: 90%;
  margin: 0 auto;
}

footer.footer-main header .footer-logo {
  width: 200px;
}

footer.footer-main header .float-right a {
  color: var(--nebula-blue);
  text-decoration: none;
  font-size: 10px;
}

div.footer-content {
  margin-top: 20px;
  font-size: 0.87rem;
}

div.footer-content nav {
  width: 16.666%;
}

div.footer-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.footer-content ul li {
  margin-bottom: 8px;
}

div.footer-content nav h5.nav-links {
  font-weight: 600;
  margin-bottom: 10px;
}

footer.footer-main .nav-links {
  margin: 0;
  text-decoration: none;
  color: var(--black-hole);
  font-weight: 400; 
}

div.footer-content .nav-icon-links {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--black-hole);
}

.nav-aside {
  border-left: 2px solid var(--stormy-grey);
}

.content-sub .nav-links {
  font-size: 0.7rem;
}

.sub-start {
  border-bottom: 2px solid var(--stormy-grey);
}
